/*--------- slider ---------*/
#slide {
	width:50;
	height:350px;
	overflow:hidden;
	z-index:777;
	margin:0 auto;
	position: relative;
	background:#fff;
	border-bottom:#fff 1px solid;
	background-color: #fff;
		}

.slider {width:1000px; 
		height:380px;
		overflow:hidden; 
		position:relative; 
		margin:0 auto;
		}
		
.items { display:none;}

.pagination { position:absolute; bottom:330px; right:10px; display:inline-block; z-index:111;}
.pagination li {float:left; margin-right:10px; position:relative;	}
.pagination li a { display:inline-block; width:35px; height:36px; background:url(../images/pagination.png) right 0 no-repeat;}
.pagination li.current a, .pagination li:hover a { background:url(../images/pagination.png) 0 0 no-repeat;}

.banner {position:absolute; z-index:100; top:220px; left:10px; width:600px;}
.banner .text-1 {
	display:block;
	margin-left:px;
	margin-bottom:25px;
	background-color: transparent;
}
.banner .text-2 {
	background-color: transparent;
}
